*{
    margin:0px;
    
}


/*Styling for the navbar */
.navbar{
    background:#1b262c;
    display:flex;
}
.navbar h1{
    color:white;
    padding-top:10px;
    flex-grow:1;
    font-size: 40px;
    margin-left: 70px;
}
.navbar h1 a{
    text-decoration:none;
    color:white;
}
.menus ul{
    display:flex;
    flex-direction:row;
}
.navbar li{
    list-style:none;
    padding:20px;
}
.navbar li a{
    color:white;
    text-decoration:none;
}

.navbar li a:hover{
    color:#3282b8;
}

.hamburger .lines{
    display:none;
}

/*style for the form*/
.form h1{

    margin-top: 40px;
    text-align:center;
}
 .form form{
     border:2px solid black;
     display: flex;
     flex-direction: column;
     width:36%;
     margin: 38px  auto 0px auto;
     padding:20px;
     border-radius:10px;
 }
 .form input{
     padding:9px;
     margin: 25px;
     border-radius: 10px;
 }

 .form select{
    padding:9px;
    margin: 25px;
    border-radius: 10px;
 }
 .form input{
     color:black;
 }

 /* Style for the button*/
 input[type='submit']{
    background:#1b262c;
    color:white;
    border-radius:10px;
 }

 /*Styling for the parent session page*/

        .childs-table{
            width:65%;
            margin:60px auto;
            text-align: center;
        }
        .childs-table h1{
            margin-bottom: 20px;
        }

        .childs-table table{
            margin: 0px auto;
        }
        .childs-table table,td,th{
            border: 1px solid black;
            border-collapse: collapse;
        }

        .childs-table table td{
            padding: 5px;
        }
        .childs-table table td a{
            text-decoration: none;
        }

/* Styling the child session page*/
        .budget{
           width: 80%;
           margin: 0px auto;
           margin-top: 30px;
           text-align: center;
        }


 /*Mobile view for the website*/

 @media screen and (max-width:800px){
 
    .hamburger .lines{
    height:4px;
    width:26px;
    background-color:white;
    margin:9px;
    display:block;
}
    .menus{
    display:none;
    position:absolute;
    height:90vh;
    width:100%;
    margin-right:auto;
    margin-left:auto;
    background:#1b262c;
    margin-top:48px;
    }
    .menus ul{
        flex-direction:column;
    }
    .show{
        display:flex;
    }
    .form form{
        width:80%;
    }
    
    .childs-table{
        
        width:100%;
        text-align: center;
    }
}